DEBUG = True
SERVICE_NAME = '{{ service_name }}'
SERVICE_VERSION = '0.1.0'
SERVICE_UUID = '{{ uuid }}'
SERVICE_DESCRIPTION = 'I hear whispers'

##############################################################################
# The following setting defines a ZMQ connection. `out` is the connection used
# to send things to the bot and `in` is the connection we want to use to
# recieve messages
#
# This setting is required.

ZMQ_CONNECTION = {
    'out': 'tcp://localhost:61124',
    'in': 'tcp://localhost:61123'
}
##############################################################################
